:root{
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
    --font_main: 'Outfit', sans-serif;
}

html{
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: var(--Light_gray);
}

h1{
    font-size: 20px;
}

p{
    font-size: 15px;
    margin-top: 10px;
}

.container{
    min-height: 95vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label{
    background-color: var(--White);
    border-radius: 20px;
    max-width: 320px;
    padding: 16px;
}

@media (max-width: 375px) {
    .label{
        margin-left: 12px;
        margin-right: 12px;
    }
}

.qr{
    border-radius: 20px;
    max-width: 100%;
}

.qr-text{
    max-width: 90%;
    margin: 5%;
    text-align: center;
}

.text-title{
    font-family: var(--font_main);
    color:var(--Dark_blue);
    font-weight: 700;
}

.text-info{
    color:var(--Grayish_blue);
    font-family: var(--font_main);
    font-weight:400;
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
    max-width: 100%;
    min-height: 5vh;
}

.footer-attribution{
    font-size: 11px;
    padding-bottom: 1vh;
}

.footer-attribution a{
    color: hsl(228, 45%, 44%);
}